beautifulsoup4
faker
fastapi
groq
ipykernel
jupyter
langchain-community
langchain-groq
langchain-text-splitters
langsmith
pandas
pypdf
pydantic
pymongo
python-dotenv
reportlab
requests
sentence-transformers
uvicorn
